*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background: #444;
}

#container{
    height:100px;
}

#code{
    resize: none;
    background: transparent;
    border: none;
    /* color: #fff; */
    color:transparent;
    caret-color: #fff;
    vertical-align: bottom;
    position: absolute;
    top: 80px;
    width: 98.5%;
}

#code::selection{
    color:transparent;
    background: rgba(150,150,150,150);
}

#highlight{
    color: #fff;
    border: 1px solid #222;
    background: #333344;
    position: relative;
    margin-bottom: 200px;
    display: block;
    width: 98.5%;
    height: 540px;
    position: absolute;
    top:80px;
    /* padding-top: 5px;
    padding-left: 3px; */
    white-space: pre-wrap;
}

#code, #highlight{
    font-size: 15px;
}



.function, .class{
    color: #ee96ee;
}

.class{
    font-style: italic;
}

.string{
    color: #6ee97e;
}

.primary{
    color: #6e85e9;
}

.number{
    color: #e9b46e;
}

.comment{
    color: #acacac;
}

.error{
    background: rgba(150,0,0,150);
    color: #fff;
}